.customBxSums {
    clear: both;
    width: 232px;
    list-style: none;
    float: left;
    color: #333;
    margin: 1px 0 5px 0;
    flex-direction: column;
    padding: 3px 5px 3px 12px;
    font-size: 13px;
    background: #fff;
    box-sizing: border-box;
    border-left: 3px solid #d90020;
    z-index: 9;
    border-radius: 2px;
    user-select: none;
}

.customBxSums > li {
    cursor: pointer;
}

.customBxSums > li.totals {
    line-height: 20px;
    font-weight: bold;
    border-top: 1px solid #D7D9DE;
    padding: 5px 0 0 0;

}
.customBxSums > li.totals svg {
    width: 20px;
    height: 20px
}

.customBxSums > li > div {
    float: left;
    position: relative;
    z-index: 2;
}

.customBxSums > li > div:first-child {
    margin: 0 7px 0 0;
}

.customBxSums > li.uSum {
    line-height: 20px;
    margin: 5px 0;
    transition: padding 0.1s ease-in;
}

.customBxSums > li.uSum.filtered {
    padding-left: 16px;
    font-weight: bold;
}

.customBxSums > li.uSum.filtered:after {
    content: "»";
    position: absolute;
    left: 20px;
    font-weight: bold;
    font-size: 17px;
    z-index: 1;
}